---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//Font
$sans-serif: "Klee One", sans-serif;
$serif: "Klee One", sans-serif;
$doc-font-size: 16px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//Author avatar
.author__avatar {
  width: 72px;
  height: 72px;

  img {
    border-radius: 10%;
  }
}

//Post title margin
.page__title {
  margin-bottom: 2rem;
}

//Share button
.btn--x span {
  display: none;
}

//Archive subtitle
.archive__subtitle {
  font-size: $type-size-4;
}

//Archive excerpt
.archive__item-excerpt {
  font-size: $type-size-5;
}

/* グリッドレイアウトを解除する */
.page__related .grid {
  display: block;
}

/* 各記事を横幅いっぱいに広げる */
.page__related .grid__item {
  width: 100%;
  margin-bottom: 1.5rem; /* 記事ごとの間隔を空ける */
}

/* figureヘルパー用のカスタム画像サイズ */
.page__content .half {
  width: 100%; /* 横幅を記事エリアの50%に */
  margin-left: auto;
  margin-right: auto;
}

/* --- figureで挿入した画像のキャプションを中央揃えにする --- */
.page__caption {
  text-align: center !important;
}
